* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 60%;
    height: 60%;
    padding: 1rem;
    background-color: #fff;
    float: left;
    position: relative;
    
}

#area-lateral{
	width: 40%;
	float: right;
    position: relative;
    background-color: 0;
}

.conteudo-lateral{
	background: rgba(255, 255, 255, 0.726);
	padding: 5px;
	margin-bottom: 20px;
}

.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;

}

h1 {
    text-align: center;
}

h2{
    text-align: center;
    color: #fff;
    margin-bottom: .30rem;
    background-color: #77c850;
    background-position: center;
    border-radius: 20%;
}

.img-bul{
    background-color: #77c850;
    width: 100%;
    height: 100%;
    border-radius: 0%;
}



@media screen and (min-width: 700px) {
    .content #area-lateral {
        max-width: 700px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
}